.about-us {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $basic-white;
}

.about-us__header-int {
  font-weight: 500;
  margin: 0;
}
.about-us__header-main {
  color: $basic-brown;
}

.about-us__desc {
  margin: 0;
  font-size: 14px;
}
