.about-us {
  font-size: 14px;
  color: $basic-white;
  padding: 50px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }
}

.about-us .wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
}

.about-us__imgs {
  @media (min-width: $tablet-width) {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    align-content: center;
  }
}

.about-us__specs {
  @media (min-width: $tablet-width) {
    margin: auto 0;
    grid-column: 2;
    grid-row: 1;
  }
}

.about-us__header-int {
  color: $basic-brown;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  line-height: 1.2;
  letter-spacing: 2px;
  z-index: 1;
  margin-bottom: 5px;
}

.about-us__header-int-ghost {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: $span-black;
    z-index: -1;
    display: block;
    position: absolute;
    bottom: -2px;
  }
}

.about-us__header-main {
  font-size: 30px;
  color: $basic-white;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    font-size: 45px;
    font-weight: 500;
  }
}

.about-us__header-main-thin {
  font-weight: 300;
  color: $basic-brown;
}

.about-us__desc {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.about-us__img {
  height: 100%;
  width: 100%;
  position: relative;
  justify-self: end;
}

.about-us__img2 {
  width: 100%;

  @media (min-width: $tablet-width) {
    z-index: 1;
    top: 0;
  }
}

.about-us__img1 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 0;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    top: 150px;
    right: 155px;
  }
}

.about-us__img::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 105px;
    left: -200px;
    width: 82%;
    height: 73%;
    right: 0;
    background: #ff000000;
    border: 10px solid $span-black;
    z-index: -1;
  }
}
