.button {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  height: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
