.complete-works {
  padding: 50px 0;
  background-color: $basic-grey;
  max-height: 100%;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }
}

.complete-works__subheader {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-brown;
  letter-spacing: 2px;
  z-index: 1;
}

.complete-works__subheader-ghost {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: -51px;
    right: 0;
    left: 0;
    display: block;
    font-size: 60px;
    font-weight: 900;
    color: $span-black;
    letter-spacing: 12px;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    font-size: 80px;
    top: -70px;
  }
}

.complete-works__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.complete-works__link {
  display: block;
}

.complete-works__item {
  position: relative;

  @media (min-width: $tablet-width) {
    max-height: 100%;
  }

  @media (min-width: $desktop-width) {
    max-height: 100%;
  }
}

.complete-works__item1 {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1;
  }
}

.complete-works__item2 {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 2;
  }
}

.complete-works__item3 {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
  }


  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.complete-works__item4 {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row: 1;
  }
}

.complete-works__item5 {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row: 2;
  }
}

.complete-works__item6 {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
    grid-row: 1;
  }
}

.complete-works__item7 {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
    grid-row: 2;
  }
}

.complete-works__main-header {
  position: relative;
  font-weight: 500;
  text-align: center;
  margin-bottom: 47px;
  z-index: 2;
}

.complete-works__example-header {
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.complete-works__example--desc {
  font-size: 22px;
  color: $basic-white;
  text-align: center;
  margin: 0;
}


.complete-works__text-block {
  position: absolute;
  top: 0;
  left: 90px;
  opacity: 0;
}

.complete-works__img {
  width: 100%;
  background-size: contain;
}
