.divisions {
  outline: 2px solid red;
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}
.divisions__item {
  border-bottom: solid 1px #ffffff17;
  height: 100%;
}

.divisions__item-link {
  display: block;
  padding: 20px 13px;
}
