.how-we-work__preheader {
  font-size: 60px;
  color: $basic-brown;
  margin: 0;
}

.how-we-work__list {
  list-style: none;
}

.how-we-work__header {
  font-size: 22px;
  color: $basic-white;
  font-weight: 500;
}

.how-we-work__desc {
  margin: 0;
}
