.how-we-work {
  padding: 50px 0;
}

.how-we-work__preheader {
  font-size: 16px;
  color: $basic-brown;
  text-align: center;
  margin: 0;
  position: relative;
}


.how-we-work__subpreheader {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: -37px;
    right: 0;
    left: 0;
    display: block;
    font-size: 60px;
    font-weight: 900;
    color: $minor-header;
    letter-spacing: 12px;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: -1;
  }
  @media (min-width: $desktop-width) {
    font-size: 80px;
    top: -62px;
  }
}

.how-we-work__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.how-we-work__item-header {
  font-size: 22px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.how-we-work__item-header::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 46px;
  height: 2px;
  background: #c6a47e;
}

.how-we-work__item {
  padding-top: 100px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.how-we-work__first .how-we-work__item-header::before {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  vertical-align: bottom;
  padding: 14px;
  position: absolute;
  content: "01";
  width: 100px;
  height: 100px;
  top: -122px;
  right: 234px;
  border: 6px solid rgb(57, 63, 69);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 165px;
  }

  @media (min-width: $desktop-width) {
    left: 55px;
  }
}

.how-we-work__second .how-we-work__item-header::before {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  vertical-align: bottom;
  padding: 14px;
  position: absolute;
  content: "02";
  width: 100px;
  height: 100px;
  top: -122px;
  right: 234px;
  border: 6px solid rgb(57, 63, 69);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 165px;
  }

  @media (min-width: $desktop-width) {
    left: 55px;
  }
}

.how-we-work__third .how-we-work__item-header::before {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  vertical-align: bottom;
  padding: 14px;
  position: absolute;
  content: "03";
  width: 100px;
  height: 100px;
  top: -122px;
  right: 234px;
  border: 6px solid rgb(57, 63, 69);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 165px;
  }

  @media (min-width: $desktop-width) {
    left: 55px;
  }
}

.how-we-work__fourth .how-we-work__item-header::before {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  vertical-align: bottom;
  padding: 14px;
  position: absolute;
  content: "04";
  width: 100px;
  height: 100px;
  top: -122px;
  right: 234px;
  border: 6px solid rgb(57, 63, 69);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 165px;
  }

  @media (min-width: $desktop-width) {
    left: 55px;
  }
}


.how-we-work__header {
  font-size: 22px;
  color: $basic-white;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}

.how-we-work__desc {
  margin: 0;
}
