.main-nav {
  position: fixed;
  z-index: 99;
  width: 250px;
  height: 100%;
  background-color: $main-brown;
  margin-top: -15px;
  transition: 0.6s;

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: auto;
    padding: 0 30px;
    margin: auto 0;
  }
}

.main-nav__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 29px 15px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__header-logo-container {
  width: 75%;
}

.main-nav__header-logo-container::after {
  position: absolute;
  content: "";
  background-color: $button-after;
  width: 2px;
  height: 25px;
  right: 60px;
  top: 35px;

  @media (min-width: $tablet-width) {
    right: 60px;
    top: 35px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  color: $basic-white;
}

.main-nav__toggle {
  position: relative;
  color: transparent;
  background-color: $button-close;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 13px;
    width: 15px;
    height: 1px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
