.seo-block__preheader {
  font-size: 30px;
  font-weight: 500;
  color: $basic-brown;
  text-align: center;
}

.seo-block__header {
  font-size: 30px;
  font-weight: 700;
  color: $basic-white;
  text-align: center;
}

.seo-block__results {
  list-style: none;
  padding: 0;
}

.seo-block__result-desc {
  font-size: 18px;
  font-weight: 500;
  color: $basic-brown;
}
