.workers {
  background-color: $basic-grey;
  padding: 50px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }
}

.workers__preheader {
  font-size: 14px;
  color: $basic-brown;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.workers__header {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.workers__preheader-item {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: -41px;
    right: 0;
    left: 38px;
    display: block;
    font-size: 60px;
    font-weight: 900;
    color: $span-black;
    letter-spacing: 12px;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    font-size: 80px;
    top: -66px;
  }
}


.workers__list {
  list-style: none;
  padding: 0;
}

.workers__list-item {
  display: none;
}

.workers__list-item-current {
  display: block;
}

.workers__list .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workers__name {
  font-size: 18px;
  text-transform: capitalize;
  color: $basic-white;
  font-weight: 500;
  margin: 0;
}

.workers__desc {
  margin: 0;
  color: $basic-white;
}

.workers__img {
  width: 100%;
}
