//Colors
$basic-black: #212529;
$basic-white: #ffffff;
$main-brown: #555555;
$basic-brown: #c6a47e;
$basic-grey: #282d32;
$minor-header: #252a2d;


// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
