//Colors
$basic-black: #212529;
$basic-white: #ffffff;
$basic-brown: #c6a47e;
$hover-brown: #c6a47e;
$basic-grey: #282d32;


// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
